@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;    */

  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

/*  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;   */

  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
/*   font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal; */

body {
  font-family: "Caprasimo", serif;
    text-align: center;
    margin: 50px;
    background-color:  antiquewhite ;
}

.color-box {
   
    background-color: #f0f0f0;
}

.color-box li {
            padding: 10px;
            margin: 5px 0;
            font-family: "Cutive Mono", monospace;   
            font-size: 30px;     
          }

#messageboard{
  font-family: "Alfa Slab One", serif;
}

        #totalpoints{
          font-size: 90px;
          color:pink;
        }
